/*Para comentar se usa esto*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

*{
    box-sizing: border-box;  
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    color: inherit;
    font-family: 'Poppins', sans-serif;
   
}
body{
    background-image: url(../img/auto.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    backdrop-filter: contrast(0.8) brightness(0.5) saturate(0.6);
}

#logo{
    margin-top: 100px;
}

.lead, .title-its_motors{
    color: #ffffff;
    text-shadow: 5px -5px 3px rgb(114, 3, 3) ;
}

.lead{
    text-align: justify;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

html {
    scroll-behavior: smooth;
}

.navbar{
    color: white;
}

.nav-link, .navbar-brand{
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
}

.about-us h1{
    color: #ffffff;
   /*  text-decoration: underline; */
    text-align: center;
    margin-bottom: 30px;
    font-size: 42px;
}

.productos-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    gap: 40px;
}

.productos-container h1{
    text-decoration: underline;
    text-align: center;
    font-size: 42px;
}

.productos-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    
}
/*ajustes para que los carruseles tengan el mismo tamaño*/

.carousel-image {
    height: 200px; 
    object-fit: cover;
}

.carousel {
    max-width: 400px; 
    margin: 0 auto; 
}

.whatsapp-icon {
    position:sticky;
    bottom: 100px;
    left: 95%;
    display:inline-block;
}

.whatsapp-icon img {
    width: 60px; /* Ajusta el tamaño*/
    height: auto;
    border-radius: 50%; /* Da un aspecto redondeado al icono */
    }

   /* Estilos generales para el footer donde se encuenta para contactarnos */
footer {
    background-color: #333; 
    color: #fff; 
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  
  .pie_de_pagina {
    text-align: center;
  }
  
  /* logo en el pie de página */
  .pie_de_pagina img {
    width: 200px; 
    height: auto;
  }
  
  /* Estilos para la sección de "REDES SOCIALES" */
  .pie_de_pagina h4 {
    margin-bottom: 10px;
  }
  
  .pie_de_pagina a {
    margin-right: 10px;
  }
  
  .pie_de_pagina a img {
    width: 30px; 
    height: auto;
  }
  
  /* Estilos para la sección "NOS ENCONTRAS EN" */
  .pie_de_pagina h5 {
    margin-bottom: 10px;
  }
  
  .pie_de_pagina p img {
    width: 20px; 
    height: auto;
    margin-right: 5px;
  } 